@model EntityLayer.Concrete.Permission
@{
    ViewData["Title"] = "EditPermission";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
    <h1>Edit Permission</h1>
    @using (Html.BeginForm("EditPermission", "Permission", FormMethod.Post))
    {
        @Html.Label("Permission ID")
        @Html.TextBoxFor(x => x.PermissionId, new {@class = "form-control", @style = "width: 300px"})
        @Html.Label("Permission Name")
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control", @style = "width: 300px"})
        <br />
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.ModifiedBy)
        <button class="btn btn-secondary" style="width: 300px">Save</button>
    }

</div>


